




  <% if @user.errors.any? %>
  <ul class="alert alert-danger">
  <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
  </ul> 
<% end %>

  <div data-role="main" class="ui-content">
      <h2 class="text-center">Sign Up!</h2><br>
      <%= form_for @user, url: signup_path do |f| %>
        <div class="form-group">
          <%= f.label :username, class:"control-label" %>
          <%= f.text_field :username, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, class:"control-label" %>
          <%= f.text_field :email, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :image_url, class:"control-label" %>
          <%= f.text_field :image_url, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class:"control-label" %>
          <%= f.password_field :password, class:"form-control" %>
        </div>

        <%= f.submit "Signup", id:"submit-user", class:"btn btn-block btn-success text-center" %>
      <% end %>
    </div>

      </div>




