<%= render 'layouts/navbar' %>
<%= render 'layouts/errors' %>
<%= @user.name %>
<div>User Image</div>
<%= @user.follow_count %>
<%= link_to "Follow", follow_user_path(@user)%>
<%= link_to "Unfollow", unfollow_user_path(@user) %>


  <div data-role="main" class="ui-content">
    <div data-role="controlgroup" data-type="horizontal">
      <a href="#" class="ui-btn">Account</a>
      <a href="#" class="ui-btn">Attending</a>
      <a href="#" class="ui-btn">Friends</a>
    </div><br>
  </div>



<!-- Render partials -->