<% if @show.errors.any? %>
  <ul class="alert alert-danger">
  <% @show.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
  </ul> 
<% end %> 
<!-- For a nested resource, such as a show that belongs to a user, we need to pass the parent AND the child into it. -->
<%= form_for [current_user, @show] do |f|%>
<div>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus:true %>
</div>
<div>
  <%= f.label :venue %>
  <%= f.text_field :venue %>
</div>
<div>
  <%= f.label :image_url%>
  <%= f.text_field :image_url %>
</div>
<div>
  <%= f.label :description%>
  <%= f.text_field :description %>
</div>
<div>
  <%= f.label :genre%>
  <%= f.text_field :genre %>
</div>
<div>
  <%= f.label :price%>
  <%= f.text_field :price %>
</div>
<div>
  <%= f.label "Date of Show" %>
  <%= f.date_field :showdate %>
</div>
<div>
  <%= f.label "Time of Show" %>
  <%= f.time_select :time,
  :combined => true,
  :default => Time.now.change(:hour => 9, :min => 30),
  :minute_interval => 30,
  :time_separator => "",
  :start_hour => 00,
  :start_minute => 00,
  :end_hour => 23,
  :end_minute => 30,
  :labels => false,
  :ampm => true
  %>
</div>
<div>
  <%= f.label "Ticket sale date"%>
  <%= f.date_field :saledate %>
</div>
<div>
  <%= f.label :address%>
  <%= f.text_field :address %>
</div>
<div>
  <%= f.submit "Submit" %>
</div>
<% end %>
