<%= render 'layouts/navbar' %>

<%= link_to "Add Show", new_show_path, class: "btn-primary btn-sm text-center" %>



<ul data-role="listview" data-inset="true">

    <% if @shows %>
    <% @shows.each do |s| %>
   
<%= link_to show_path(s.id) do %>
<li data-transition="flip">
    <img src="https://lh4.ggpht.com/oA32f7LzZ0JPCzn6e6QG_8nbNgK8XNAU6CgWy-kCBc_z1JUNKTFrg5VZ2lhFZhqG2H8=w300" alt="">


  <p> <strong>Date: </strong> <%=s.showdate%></p>

    <h2><%= s.title %></h2>

    <h4>Venue: <%=s.venue%></h4>
    <% end %>


<!-- If user is the owner of this show, display the delete and update buttons.  If not, do not display -->

<!-- USER LOGIC HASN"T BEEN ADDED YET -->

    <div>
    <%= link_to 'Delete', s , method: :delete, class: "btn btn-danger btn-sm", data: {confirm: 'Are you sure?'} %>
    </div>


    <div>
      <%= link_to 'Update', edit_show_path(s), class: "btn btn-primary btn-sm" %>
    </div>


   </li>
    <% end %>
<% end %>

<% @response_body.each do |res| %>
   
  <li data-transition="flip">
  <%= link_to res["url"] do %>
    <img src="https://lh4.ggpht.com/oA32f7LzZ0JPCzn6e6QG_8nbNgK8XNAU6CgWy-kCBc_z1JUNKTFrg5VZ2lhFZhqG2H8=w300" alt="">
      
      <p> <strong>Date: </strong> <%=res["datetime"] %></p>

      <% if res["artists"][0] %>
      <h1><%= res["artists"][0]["name"]%></h1>
      <% end %>

      <h4>Venue: <%=res["venue"]["name"]%></h4>
      <% end %>

    </li>
  <% end %>

</ul>


