<%= render 'layouts/navbar' %>


<ul data-role="listview" data-inset="true">
    <% @shows.each do |s| %>
   

    <li>
<%= link_to show_path(s) do %>

    <h2><%= s.title %></h2>
    <p><strong><%= s.venue %></strong></p>
    <p><%= s.description %></p>
        <p>Price:<br><%= s.price %></p>
    <% end %>
  </li>
  <% end %>
    
  
</ul>





