
<div data-role="page" data-theme="b" id="demo-page" class="my-page">


    <div data-role="header">
      <h1>Bay Day<span>
        
<a href="#" data-icon="gear" class="ui-btn-right">
    <% if current_user %>
<span>Welcome <%=current_user.username%></span>
<%end%>
</a>


      </span></h1>
        <a href="#" data-shadow="false" data-iconshadow="false" data-icon="carat-l" data-iconpos="notext" data-rel="back" data-ajax="false">Back</a>
    </div><!-- /header -->
    <!--Add Navbar-->
<%= render 'layouts/navbar' %>
<!--Add Search Bar-->
<div>
<form class="ui-filterable">
      <input id="myShows" data-type="search">
    </form>
    </div>
    <!--listview begins here-->
    <div data-role="content">

<ul data-role="listview" data-inset="true">
<% if @shows %>
<% @shows.each do |s| %>

  <li data-transition="flip">
    <%= link_to show_path(s) do %>
      <img src="<%=s.image_url%>" alt="">

      <p> <strong>Date: </strong> <%=s.showdate%></p>

      <h2><%= s.title %></h2>

      <h4>Venue: <%=s.venue%></h4>
      <% end %>
  </li>
<% end %>
<% end %>
</ul>




