<%= render 'layouts/navbar' %>


<ul data-role="listview" data-inset="true">
    <% @shows.each do |s| %>
   

    <li data-transition="flip">
<%= link_to show_path(s) do %>

    <h2><%= s.title %></h2>
    <strong><%= s.venue %></strong><br>
    <%= s.description %><br>
        Price:<br><%= s.price %>
    <% end %>
  </li>
  <% end %>
    
  
</ul>





