<%= render 'layouts/navbar' %>

<div data-role="main" class="ui-content">
    <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Add New Show</a>

    <div data-role="popup" id="myPopup" class="ui-content" style="min-width:250px;">
      <form method="post" action="demoform.asp">
        <div>
          <h3>Login information</h3>
          <label for="usrnm" class="ui-hidden-accessible">Username:</label>
          <input type="text" name="user" id="usrnm" placeholder="Username">
          <label for="pswd" class="ui-hidden-accessible">Password:</label>
          <input type="password" name="passw" id="pswd" placeholder="Password">
          <label for="log">Keep me logged in</label>
          <input type="checkbox" name="login" id="log" value="1" data-mini="true">
          <input type="submit" data-inline="true" value="Log in">
        </div>
      </form>
    </div>



<ul data-role="listview" data-inset="true">
    <% @shows.each do |s| %>
   

    <li data-transition="flip">
<%= link_to show_path(s) do %>

    <h2><%= s.title %></h2>
    <strong><%= s.venue %></strong><br>
    <%= s.description %><br>
        Price:<br><%= s.price %>
    <% end %>
  </li>
  <% end %>
    
  
</ul>





