<div data-role="content">
<ul data-role="listview" data-inset="true" class="lineUp">
<% if @shows %>
<% @shows.each do |s| %>

  <li class="line3">
    <%= link_to show_path(s) do %>

      <h2><%= s.title %></h2>
      <img class="picture" src="<%=s.image_url%>" alt="">

      <p> <strong>Date: </strong> <%=s.showdate%></p>


      <h4>Venue: <%=s.venue%></h4>
      <% end %>
  </li>

<% end %>
<% end %>
</ul>

</div>
    





