<div data-role="header">
  <div data-role="navbar">
    <ul>
      <!-- <li><a href="#anylink" data-icon="home">Home</a></li> -->
      <li><%= link_to "Home", root_path, data: {icon:'home'} %></li>
<!--       <li><a href="#anylink" data-icon="arrow-r">Profile</a></li> -->
<li><%= link_to "Profile", current_user, data: {icon:'arrow-r'} %></li>
<li><%= link_to "Search Users", users_path, data: {icon:'user'} %></li>
      
    
    </ul>
  </div>
</div>

<div>
<center>
  <% if current_user %>
    Welcome, <strong><%= current_user.name %></strong>!
    <%= link_to "Log Out", logout_path, id: "logout" %>
    
  <% end %>
  </center>
  
</div>