<div data-role="header">
  <div data-role="navbar">
    <ul>
      <!-- <li><a href="#anylink" data-icon="home">Home</a></li> -->
      <li><%= link_to "Home", root_path, data: {icon:'home'} %></li>
<!--       <li><a href="#anylink" data-icon="arrow-r">Profile</a></li> -->

<li><%= link_to "Log-in", login_path, data: {icon:'arrow-r'} %></li>

<li><%= link_to "Log-out", logout_path, data: {icon:'user'},method: :delete%></li>


<li><%= link_to "Sign-up", signup_path, data: {icon:'user'} %></li>
      
    
    </ul>
  </div>
</div>

<div>
<center>
  <% if current_user %>
    Welcome, <strong><%= current_user.username %></strong>!
    <%= link_to "Log Out", logout_path, id: "logout" %>
    
  <% end %>
  </center>
  
</div>