<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>




  <title>Bay Day</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<body>



<div data-role="page" data-theme="b" id="demo-page" class="my-page">


    <div data-role="header">
      <img width='200px'src="/assets/bayday.svg">
        
<a href="#" data-icon="star" class="ui-btn-right">

    <% if current_user %>
<span>Welcome <%=current_user.username%>


</span>
<%end%>

</a>

  
    </div><!-- /header -->
    <!--Add Navbar-->
<%= render 'layouts/navbar' %>
<%= render 'layouts/errors' %>




  
<%= yield %>
<% render 'layouts/footer' %>
  


